#headerDiv{
    text-align: center;
}

#currentBooksDiv{
    margin-bottom: 10px;
}

#bookInfo {
    background-color: lightgray;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: center;
}

#bookInfo > div {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    background-color: pink;
    color: white;
    height: 300px;
    width: 300px;
}

#newBookButtonDiv {
    margin-top: 5px;
    text-align: center;
}
#newBookButton {
    height: 50px;
    width: 125px;
}

.deleteBookButton {
    height: 30px;
    width: 100px;
}

.createBookInfoDiv > button {
    margin-top: 125px;
}

.read {
    color: lime;
}

.notRead {
    color: red;
}


.markAsReadButton {
    height: 30px;
    width: 100px;
}

.form-button-container {
    display: flex;
    justify-content: center;
}